#btn{
    background-color: #5e068a;
    width: 200px;
    height: 50px;
    border-radius: 10px;
    border: none;
    color: white;
    padding: 5px;
}

.carousel-inner{
    position: relative;
 }
.carousel-caption {
    position: absolute;
    top: 190px;
   
    
 }

 